apiVersion: apps/v1
kind: Deployment
metadata:
  name: sealed-secrets-controller
  namespace: {{ .Values.namespace }}
  labels:
    app: sealed-secrets-controller
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: sealed-secrets-controller
  template:
    metadata:
      labels:
        app: sealed-secrets-controller
    spec:
      serviceAccountName: sealed-secrets-controller
      containers:
      - name: controller
        image: registry.k8s.io/sealed-secrets-controller/controller:v0.26.2
        args:
        - controller


