apiVersion: apps/v1
kind: Deployment
metadata:
annotations:
  name: {{ include "poct.fullname" . }}
  namespace: kube-system
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: sealed-secrets-controller
  template:
    metadata:
      labels:
        app: sealed-secrets-controller
    spec:
      serviceAccountName: sealed-secrets-controller
      containers:
        - name: sealed-secrets-controller
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: IfNotPresent
