apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: mariadbs.k8s.mariadb.com
spec:
  group: k8s.mariadb.com
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
            status:
              type: object
  scope: Namespaced
  names:
    plural: mariadbs
    singular: mariadb
    kind: MariaDB
    shortNames:
      - mdb
