replicaCount: 2

image:
  repository: nginx
  tag: "1.16.0"
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 81

ingress:
  enabled: true
  className: "public"
  annotations: {}
  hosts:
    - host: poct.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

nodeSelector: {}
tolerations: []
affinity: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

# ===== ConfigMap =====
config:
  appMode: "production"
  logLevel: "info"
  foo: "bar"

# ===== Secret =====
secret:
  dbPassword: "myStrongPassword"
  apiKey: "abcdef123456"
  fooSecret: "bar"
