apiVersion: v1
kind: Service
metadata:
  name: {{ include "poct.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "poct.selectorLabels" . | nindent 4 }}
